.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  width: 100%;
}

.title {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 3rem 1rem 1rem 2rem ;
}

.author {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0rem;
  margin-left: 2rem;
  font-family: 'Open Sans', sans-serif, Arial;
}

.date {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem 0rem 1rem 2rem;
  font-family: 'Open Sans', sans-serif, Arial;
}

.image {
  padding: 1rem;
  margin-bottom: 5rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  font-family: 'Open Sans', sans-serif, Arial;
}

.body {
  max-width: 700px;
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}